spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/cashflow
    username: cashflow
    password: cashflow
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8080
